<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NameAvatar</title>
    <link rel="icon" href="static/man.png">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
</head>
<body>
    <h1>NameAvatar</h1><br>
    <section>
        <h2>WHAT DOES YOUR NAME SAY ABOUT YOUR PERSONALITY?</h2><br>
        
        <div class="centerDiv">
            <div class="details">
                <label>ENTER NAME</label><br>
                <input type="text" name="" id="nameid">
            </div>
            <div class="imgdiv">
                <br>
                <a href="static/welcome.jpg" download>
                <img src="static/welcome.jpg" width="300" height="300" id="imgchange">
            </a>
            </div>
            <br>
            <button id="button"> GET AVATAR</button>
        </div>
    </section>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('button').click(function(){
            const name = $('#nameid').val();
            if (name == "nameavatar"){
                $('#imgchange').attr('src', "static/welcome.jpg");
                $('a').attr('href',"static/welcome.jpg");
            }
            else{
            $('#imgchange').attr('src', `https://joeschmoe.io/api/v1/${name}`);
            $('a').attr('href',`https://joeschmoe.io/api/v1/${name}`);
            }

        });
    });
</script>
</html>